* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: url('https://images.pexels.com/photos/58457/pexels-photo-58457.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
	background-size: 100%;
	background-repeat: repeat;
	font-family: 'Lato', sans-serif;
}

.board {
	border-bottom: 1px solid black;	
}

h1 {
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	margin: 0;
	font-size: 40px;
	letter-spacing: 5px;
}

.create-column {
	height: 50px;
	width: 180px;
	background: lightgray;
	font-size: 20px;
	margin: 20px;
	font-weight: bold;
}

.column {
	float: left;
	width: 33.33%;
	min-height: 100vh;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background: rgba(0, 0, 0, 0.4);
}

ul {
	min-height: 100px;
	list-style-type: none;
}

.btn-delete {
	float: right;
	position: relative;
	top: -115px;
	height: 35px;
	width: 35px;
	font-size: 20px;
	background: darkgray;
	margin-right: 15px;
	font-weight: bold;
}

.btn-delete1, 
.btn-ok {
	float: right;
	height: 25px;
	width: 25px;
	background: darkgray;
	font-weight: bold;
	margin: 2px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-size: 32px;
	color: white;
	letter-spacing: 5px;
}

.add-card {
	width: 100px;
	height: 30px;
	background: darkgray;
	font-weight: bold;
	margin: 10px;
}

.column-list {
	padding: 0;
}

.card {
	font-weight: bold;
	border-bottom: 1px solid black;
	overflow-wrap: break-word;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
	letter-spacing: 1px;
	color: lightgray;
}

.card:first-child {
	border-top: 1px solid black;	
}

.card-placeholder {
  display: block;
  height: 100px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.2);
}



